<head>
    <link rel="stylesheet" type="text/css" href="cardapio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
            <div class="navbar">
                <a class="active" href="site.html"><i class="fa fa-fw fa-home"></i> Home</a>
                <a href="contato.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            </div>
        </body>
    <style>
        body {
            background-image: url("foto.jpg");
            background-color: #cccccc;
        }
    </style>

    <div class="columns">
        <ul class="price">
            <li class="header">Café da Manhã</li>
            <li class="grey">R$ 15,50</li>
            <li style ="background-color:white">Panqueca</li>
            <li style ="background-color:white">Cereal</li>
            <li style ="background-color:white">Ovo</li>
            <li style ="background-color:white">Bacon</li>
            <li class="grey"><a href="comprar.html" class="button">Comprar</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header">Almoço</li>
            <li class="grey">R$ 35,50</li>
            <li style ="background-color:white" >Lasanha</li>
            <li style ="background-color:white" >Frango</li>
            <li style ="background-color:white" >Molho Branco</li>
            <li class="grey"><a href="comprar.html" class="button">Comprar</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header">Janta</li>
            <li class="grey">$R$ 45,50</li>
            <li style ="background-color:white">10GB Storage</li>
            <li style ="background-color:white">10 Emails</li>
            <li style ="background-color:white">10 Domains</li>
            <li style ="background-color:white">1GB Bandwidth</li>
            <li class="grey"><a href="comprar.html" class="button">Comprar</a></li>
        </ul>
    </div>